
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Logentry</h1>

<f:flashMessages />

<table  class="tx_registeraddresslogger" >
	<tr>
		<th><f:translate key="tx_registeraddresslogger_domain_model_logentry.email" /></th>
		<th><f:translate key="tx_registeraddresslogger_domain_model_logentry.action" /></th>
		<th><f:translate key="tx_registeraddresslogger_domain_model_logentry.pid_of_action" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{logentries}" as="logentry">
		<tr>
			<td><f:link.action action="show" arguments="{logentry : logentry}"> {logentry.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{logentry : logentry}"> {logentry.action}</f:link.action></td>
			<td><f:link.action action="show" arguments="{logentry : logentry}"> {logentry.pidOfAction}</f:link.action></td>
		</tr>
		</f:for>
</table>

</f:section>